	.navbar{
	position: flex;
	top:0;
	width: 99.5%;
	height:60px;
	background:#222;
	color:white;
	display: flex;
	align-items:center;
	padding: 0 25px;
	box-size: border-box;
	z-index: 1000;
	justify-content:center;
	
	}
	
	.nav-links {
	list-style: none;
	display:flex;
	gap: 25px;
	margin-right:end;
	}
	
	.nav-links li a {
	color:#ddd;
	text-decoration: none;
	font-size: 16px;
	transition: 0.3s;
	background-color: white;
		color: #007bff;
		padding: 10px 10px;
		text-decoration: none;
		font-weight: none;
		border-radius: 5px
	
	}
	
	#content {
	padding: 80px 20px;
	}
	
	.logo {
	color:white;
	font-size: 20px;
	font-weight:bold;
	margin-right:auto;
	text-shadow:0 0 7px #fff, 0 0 10px #fff, 0 0 21px #ff00de;
	}
	
	.logo a {
	background-color: white;
	color: #007bff;
	border-radius: 50%;
	padding: 10px;
	text-decoration: none;
	color: white;
	background-color: white;
		color: #007bff;
		font-weight: none;

	
	}
	
	section {
	background: linear-gradient(135deg, #0ad9f5, #086385);
	color: white;
	text-align: center;
	padding: 60px 30px;
	width: 100%;

	}
	
	.link-hero {
		background-color: white;
		color: #007bff;
		padding: 10px 20px;
		text-decoration: none;
		font-weight: none;
		border-radius: 5px
	}
	
	.link-hero:hover {
		background-color: #319cce;
		color: white;
		transition: 0.3s;
		
	}
	
	.nav-links li a:hover {
	background-color: #319cce;
	color:white;
	}